@import '../../../styles.scss';

.header {
  height: 78px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: $base-color;
  align-items: center;
  padding: 12px;

  a {
    text-decoration: none;
    color: white;
  }

  .menu-entries {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;

    .menu-list {
      display: flex;
      gap: 32px;
      list-style: none;
      align-items: center;

      li {
        font-size: 1.3em;
        color: white;
        font-weight: bold;
        padding: 0px 15px 0px 15px;
      }
    }
  }
}
