.header{
  height: 78px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: royalblue;
  align-items: center;
  padding: 12px;
  .menu-entries{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    .menu-list{
      display: flex;
      gap:32px;
      list-style: none;
      align-items: center;
      li{
        font-size: 1.3em;
        color: white;
        font-weight: bold;
      }
    }
  }
}
