<div class="form-container">
  <h1>Please insert a new password to continue</h1>
  <form [formGroup]="changeForm">
    <!-- password -->
    <mat-form-field class="form-field">
      <mat-label>Password</mat-label>
      <input
        type="password"
        matInput
        formControlName="password"
        [errorStateMatcher]="matcher"
      />
      @if (changeForm.get("passoword")?.hasError("required")) {
        <mat-error>Password is <strong>required</strong></mat-error>
      }
    </mat-form-field>

    <!-- confirm -->
    <mat-form-field class="form-field">
      <mat-label>Confirm password</mat-label>
      <input
        type="password"
        matInput
        formControlName="confirm"
        [errorStateMatcher]="matcher"
      />
      @if (changeForm.get("confirm")?.hasError("required")) {
        <mat-error>You must confirm your password</mat-error>
      } @else if (changeForm.hasError("passwordMissmatch")) {
        <mat-error class="pw-error">Error: passwords do not match!</mat-error>
      }
    </mat-form-field>
    <div class="btn-container">
      <button
        mat-flat-button
        (click)="sumbitPasswordChange()"
        [disabled]="!changeForm.valid && !apiLoading"
        color="primary"
      >
        <div class="btn-content">
          @if (apiLoading) {
            <mat-icon>
              <mat-spinner diameter="20" mode="indeterminate"></mat-spinner>
            </mat-icon>
          }
          Submit
        </div>
      </button>
    </div>
  </form>
</div>
