.form-container {
  padding-top: 164px;
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .form-field{
      width: 340px;
    }
  }
}

.btn-container {
  display: flex;
  justify-content: flex-end;

  .btn-content {
    display: flex;

    .btn-spinner {
      height: 24px;
      width: 24px;

      .mat-spinner {
        height: 25px;
      }
    }
  }
}

.pw-error {
  color: red;
}
