@if (!!userInfo) {
  <div class="container">
    <h2>Your profile</h2>
    <div class="content">
      <div class="profile-icon">
        <div class="icon-container">
          <span class="material-symbols-outlined list-icon"> person </span>
        </div>
      </div>
      <div class="personal-info">
        <div class="info-field">
          <span class="label">Name</span>
          <span class="info">{{ userInfo.name }}</span>
        </div>
        <div class="info-field">
          <span class="label">Lastname</span>
          <span class="info">{{ userInfo.lastname }}</span>
        </div>
        <div class="info-field">
          <span class="label">Role</span>
          <span class="info">{{ calcRole() }}</span>
        </div>
        @if (isAuthenticated) {
          <div class="delivery-info">
            <h3>Delivery info</h3>
            <app-delivery-info-card
              [info]="userInfo.shipmentInfo!"
              [edit]="this.userInfo.shipmentInfo ? false : true"
            ></app-delivery-info-card>
          </div>
        }
      </div>
    </div>
  </div>
}
