.form-container{
  display: flex;
  justify-content: center;
  padding:35px;
}
.register-form{
  width:40%;
}
.form-field{
  width: 100%;
}
.btn-container{
  display: flex;
  justify-content: flex-end;
}
.pw-error{
  color:red;
}
