.form-container{
  display: flex;
  justify-content: center;
  padding:35px;
}
.register-form{
  width:40%;
}
.form-field{
  width: 100%;
}
.btn-container{
  display: flex;
  justify-content: flex-end;
  .btn-content{
    display: flex;
    .btn-spinner{
      height: 24px;
      width: 24px;
      .mat-spinner{
        height: 25px;
      }
    }
  }
}
.pw-error{
  color:red;
}

.error-container{
  display: flex;
  justify-content: center;
  .error-text{
    color: red;
    font-size: 0.8m;
  }
}
