@import "../../../styles.scss";

.msg-page-container {
  width: 1248px;
  max-height: 640px;

  .chat-integrator {
    display: flex;
    gap: 4px;
    border: 2px solid #cbcbcb;
    border-radius: 4px;
    max-height: 653px;

    .chat-rooms {
      width: 30%;
      display: flex;
      gap: 2px;
      flex-direction: column;
      overflow-y: scroll;

      .notification {
        box-shadow: inset 20px 0px 0px 2px coral;
      }

      .tab {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 12px 0px 12px 12px;
        background-color: #cbcbcb;
        min-height: 124px;
        height: 124px;
        gap: 34px;

        .btn-content {
          font-size: 1.4em;
          height: 42px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 4px;
        }
      }

      .selected {
        background-color: $base-color;
        color: white;
      }
    }

    .chat {
      width: 70%;
    }
  }
}
