/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

button:hover{
  transform: scale(1.05);
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

$base-color: #333333;
